
@keyframes button-dark-mode-animation {
  0% {
    background: #f2f2f2;
    transform: rotate(0deg);

  }
  30% {
    transform: translateX(60px) rotate(-10deg);
  }
  50% {
    background: #1f1f1f;
    transform: rotate(2deg);
  }
  100% {
    background: #1f1f1f;
    transform: rotate(0deg) translateX(0px);
  }
}

@keyframes button-light-mode-animation {
  0% {
    background: #1f1f1f;
    transform: rotate(0deg);
  }
  30% {
    transform: translateX(60px) rotate(-10deg);
  }
  50% {
    background: #f2f2f2;
    transform: rotate(2deg);
  }
  100% {
    background: #f2f2f2;
    transform: rotate(0deg) translateX(0px);
  }
}

@keyframes dark-mode-animation {
  0% { color: #1f1f1f; fill: #1f1f1f; }
  100% { color: #f1f1f1; fill: #f1f1f1; }
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes links-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes light-mode-animation {
  0% { color: #f1f1f1; fill: #f1f1f1; }
  100% { color: #1f1f1f; fill: #1f1f1f; }
}